@import "../login-component.css";

.mobile-first {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  margin-block-start: 0.625rem;

  > div {
    display: flex;
    align-items: center;
  }

  @media (min-width: 48rem) {
    justify-content: space-between;
  }

  .ip-security-btn {
    display: none;
    @media (min-width: 48rem) {
      display: flex;
    }
  }
}

.naver-page {
  @media (min-width: 48rem) {
    width: 28.75rem;
    margin: 0 auto;
  }
}
